### Import

In [42]:
from mysql.connector import connect

### Conectar MySQL com Python

In [55]:
# função de nome mysql_connection, com os parâmetros necessários para conexão.
def mysql_connection(host, user, passwd, database=None):
    connection = connect(
        host = "bkeibksx4bfyzvvesn5v-mysql.services.clever-cloud.com",
        user = "uk6ktgdiykiyzgb8",
        passwd = "muQWdg8gzI0SWSsnTcfy",
        database = "bkeibksx4bfyzvvesn5v"
    )
    return connection

In [56]:
# chamada da função mysql_connection, criada anteriormente, passando os parâmetros necessários.
connection = mysql_connection('localhost', 'root', 'mysql123', "logistica")

### Estrutura de Dados MySQL com Python

In [47]:
# criação da tabela Viagens na base de dados logistica
query = '''
CREATE TABLE Viagens (
  id int(11) NOT NULL AUTO_INCREMENT,
  id_motorista int(11) DEFAULT NULL,
  destino varchar(45) COLLATE utf8_unicode_ci DEFAULT NULL,
  data_saida date DEFAULT NULL,
  hora_saida time DEFAULT NULL,
  data_chegada date DEFAULT NULL,
  hora_chegada time DEFAULT NULL,
  valor float DEFAULT NULL,
  PRIMARY KEY (id)
) ENGINE=MyISAM AUTO_INCREMENT=27 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
'''
cursor = connection.cursor()
cursor.execute(query)

In [50]:
# inserindo os dados na tabela Viagens
query = '''
    INSERT INTO Viagens VALUES  (1,3,'SP - Sumaré','2020-12-29','08:00:00','2021-01-02','10:00:00',30000),
                                (2,2,'SP - Campinas','2020-12-30','16:45:00','2021-01-01','20:30:00',40000),
                                (3,4,'RJ - Rio de Janeiro','2021-01-01','06:00:00','2021-01-03','22:15:00',5000),
                                (4,5,'BA - Salvador','2021-01-01','07:45:00','2021-01-04','03:00:00',2500),
                                (5,1,'SP - Campinas','2021-01-01','20:00:00','2021-01-02','04:00:00',15000),
                                (6,1,'SP - Araraquara','2021-01-02','08:00:00','2021-01-06','23:30:00',10000),
                                (7,6,'SP - Ribeirão Preto','2021-01-02','16:00:00','2021-01-05','23:00:00',3000),
                                (8,2,'MG - Pouso Alegre','2021-01-05','10:00:00','2021-01-09','05:00:00',20000),
                                (9,3,'SP - Campinas','2021-01-09','02:15:00','2021-01-09','06:00:00',25000),
                                (10,6,'SP - São Paulo','2021-01-09','04:00:00','2021-01-09','09:15:00',70000),
                                (11,5,'SP - Campinas','2021-01-09','17:00:00','2021-01-09','22:30:00',50000),
                                (12,1,'SP - Guarulhos','2021-01-09','21:30:00','2021-01-10','01:45:00',80000),
                                (13,2,'PB - João Pessoa','2021-01-12','15:00:00','2021-01-15','12:00:00',100000),
                                (14,4,'SP - Campinas','2021-01-12','15:00:00','2021-01-13','18:00:00',110000),
                                (15,1,'SP - Campinas','2021-01-15','23:30:00','2021-01-20','20:30:00',150000),
                                (16,2,'MG - Pouso Alegre','2021-01-16','22:00:00','2021-01-23','22:15:00',50000),
                                (17,4,'ES - Vitória','2021-01-18','21:15:00','2021-01-19','22:45:00',20000),
                                (18,5,'ES - Vitória','2021-01-19','20:00:00','2021-01-19','23:00:00',10000),
                                (19,1,'MG - Pouso Alegre','2021-01-21','08:30:00','2021-01-22','00:00:00',180000),
                                (20,6,'SP - Campinas','2021-01-22','01:00:00','2021-01-22','05:45:00',120000),
                                (21,3,'SP - Campinas','2021-01-25','09:00:00','2021-01-30','16:00:00',80000),
                                (22,5,'RN - Natal','2021-01-25','11:45:00','2021-01-26','15:00:00',60000),
                                (23,2,'SP - Campinas','2021-01-28','07:45:00','2021-01-29','18:15:00',90000),
                                (24,4,'SP - Campinas','2021-01-30','00:30:00','2021-02-01','22:00:00',10000),
                                (25,6,'ES - Vitória','2021-01-30','01:30:00','2021-02-02','15:00:00',130000),
                                (26,1,'RN - Natal','2021-01-30','20:00:00','2021-01-30','23:45:00',115000);
'''
cursor = connection.cursor()
cursor.execute(query)
connection.commit()

In [52]:
# Consultando os dados da tabela Viagens
query = '''
    SELECT * FROM Viagens
'''
cursor = connection.cursor()
cursor.execute(query)
result = cursor.fetchall()
for row in result:
  print(row)

(1, 3, 'SP - Sumaré', datetime.date(2020, 12, 29), datetime.timedelta(seconds=28800), datetime.date(2021, 1, 2), datetime.timedelta(seconds=36000), 30000.0)
(2, 2, 'SP - Campinas', datetime.date(2020, 12, 30), datetime.timedelta(seconds=60300), datetime.date(2021, 1, 1), datetime.timedelta(seconds=73800), 40000.0)
(3, 4, 'RJ - Rio de Janeiro', datetime.date(2021, 1, 1), datetime.timedelta(seconds=21600), datetime.date(2021, 1, 3), datetime.timedelta(seconds=80100), 5000.0)
(4, 5, 'BA - Salvador', datetime.date(2021, 1, 1), datetime.timedelta(seconds=27900), datetime.date(2021, 1, 4), datetime.timedelta(seconds=10800), 2500.0)
(5, 1, 'SP - Campinas', datetime.date(2021, 1, 1), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 2), datetime.timedelta(seconds=14400), 15000.0)
(6, 1, 'SP - Araraquara', datetime.date(2021, 1, 2), datetime.timedelta(seconds=28800), datetime.date(2021, 1, 6), datetime.timedelta(seconds=84600), 10000.0)
(7, 6, 'SP - Ribeirão Preto', datetime.date(2021, 1, 2), datetime.timedelta(seconds=57600), datetime.date(2021, 1, 5), datetime.timedelta(seconds=82800), 3000.0)
(8, 2, 'MG - Pouso Alegre', datetime.date(2021, 1, 5), datetime.timedelta(seconds=36000), datetime.date(2021, 1, 9), datetime.timedelta(seconds=18000), 20000.0)
(9, 3, 'SP - Campinas', datetime.date(2021, 1, 9), datetime.timedelta(seconds=8100), datetime.date(2021, 1, 9), datetime.timedelta(seconds=21600), 25000.0)
(10, 6, 'SP - São Paulo', datetime.date(2021, 1, 9), datetime.timedelta(seconds=14400), datetime.date(2021, 1, 9), datetime.timedelta(seconds=33300), 70000.0)
(11, 5, 'SP - Campinas', datetime.date(2021, 1, 9), datetime.timedelta(seconds=61200), datetime.date(2021, 1, 9), datetime.timedelta(seconds=81000), 50000.0)
(12, 1, 'SP - Guarulhos', datetime.date(2021, 1, 9), datetime.timedelta(seconds=77400), datetime.date(2021, 1, 10), datetime.timedelta(seconds=6300), 80000.0)
(13, 2, 'PB - João Pessoa', datetime.date(2021, 1, 12), datetime.timedelta(seconds=54000), datetime.date(2021, 1, 15), datetime.timedelta(seconds=43200), 100000.0)
(14, 4, 'SP - Campinas', datetime.date(2021, 1, 12), datetime.timedelta(seconds=54000), datetime.date(2021, 1, 13), datetime.timedelta(seconds=64800), 110000.0)
(15, 1, 'SP - Campinas', datetime.date(2021, 1, 15), datetime.timedelta(seconds=84600), datetime.date(2021, 1, 20), datetime.timedelta(seconds=73800), 150000.0)
(16, 2, 'MG - Pouso Alegre', datetime.date(2021, 1, 16), datetime.timedelta(seconds=79200), datetime.date(2021, 1, 23), datetime.timedelta(seconds=80100), 50000.0)
(17, 4, 'ES - Vitória', datetime.date(2021, 1, 18), datetime.timedelta(seconds=76500), datetime.date(2021, 1, 19), datetime.timedelta(seconds=81900), 20000.0)
(18, 5, 'ES - Vitória', datetime.date(2021, 1, 19), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 19), datetime.timedelta(seconds=82800), 10000.0)
(19, 1, 'MG - Pouso Alegre', datetime.date(2021, 1, 21), datetime.timedelta(seconds=30600), datetime.date(2021, 1, 22), datetime.timedelta(0), 180000.0)
(20, 6, 'SP - Campinas', datetime.date(2021, 1, 22), datetime.timedelta(seconds=3600), datetime.date(2021, 1, 22), datetime.timedelta(seconds=20700), 120000.0)
(21, 3, 'SP - Campinas', datetime.date(2021, 1, 25), datetime.timedelta(seconds=32400), datetime.date(2021, 1, 30), datetime.timedelta(seconds=57600), 80000.0)
(22, 5, 'RN - Natal', datetime.date(2021, 1, 25), datetime.timedelta(seconds=42300), datetime.date(2021, 1, 26), datetime.timedelta(seconds=54000), 60000.0)
(23, 2, 'SP - Campinas', datetime.date(2021, 1, 28), datetime.timedelta(seconds=27900), datetime.date(2021, 1, 29), datetime.timedelta(seconds=65700), 90000.0)
(24, 4, 'SP - Campinas', datetime.date(2021, 1, 30), datetime.timedelta(seconds=1800), datetime.date(2021, 2, 1), datetime.timedelta(seconds=79200), 10000.0)
(25, 6, 'ES - Vitória', datetime.date(2021, 1, 30), datetime.timedelta(seconds=5400), datetime.date(2021, 2, 2), datetime.timedelta(seconds=54000), 130000.0)
(26, 1, 'RN - Natal', datetime.date(2021, 1, 30), datetime.timedelta(seconds=72000), datetime.date(2021, 1, 30), datetime.timedelta(seconds=85500), 115000.0)

In [53]:
# conferindo as colunas da tabela Viagens
columns = tuple([i[0] for i in cursor.description])
print(columns)

('id', 'id_motorista', 'destino', 'data_saida', 'hora_saida', 'data_chegada', 'hora_chegada', 'valor')

In [57]:
# Criando a tabela Motoristas
query = '''
CREATE TABLE Motoristas (
  id int(11) NOT NULL AUTO_INCREMENT,
  nome varchar(45) COLLATE utf8_unicode_ci DEFAULT NULL,
  foto varchar(245) COLLATE utf8_unicode_ci DEFAULT NULL,
  ficha varchar(245) COLLATE utf8_unicode_ci DEFAULT NULL,
  PRIMARY KEY (id)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
'''
cursor = connection.cursor()
cursor.execute(query)

In [58]:
# inserindo os dados na tabela Motoristas
query = '''
    INSERT INTO Motoristas VALUES   (1,'José','https://ayltoninacio.com.br/download/curso-gds/img/m1.jpg','https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=1'),
                                    (2,'Maria','https://ayltoninacio.com.br/download/curso-gds/img/m2.jpg','https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=2'),
                                    (3,'Pedro','https://ayltoninacio.com.br/download/curso-gds/img/m3.jpg','https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=3'),
                                    (4,'Marcos','https://ayltoninacio.com.br/download/curso-gds/img/m4.jpg','https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=4'),
                                    (5,'Manoel','https://ayltoninacio.com.br/download/curso-gds/img/m5.jpg','https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=5'),
                                    (6,'Cristina','https://ayltoninacio.com.br/download/curso-gds/img/m6.jpg','https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=6');
'''
cursor = connection.cursor()
cursor.execute(query)
connection.commit()

In [59]:
# # Consultando os dados da tabela Motoristas
query = '''
    SELECT * FROM Motoristas
'''
cursor = connection.cursor()
cursor.execute(query)
result = cursor.fetchall()
for row in result:
  print(row)

(1, 'José', 'https://ayltoninacio.com.br/download/curso-gds/img/m1.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=1')
(2, 'Maria', 'https://ayltoninacio.com.br/download/curso-gds/img/m2.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=2')
(3, 'Pedro', 'https://ayltoninacio.com.br/download/curso-gds/img/m3.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=3')
(4, 'Marcos', 'https://ayltoninacio.com.br/download/curso-gds/img/m4.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=4')
(5, 'Manoel', 'https://ayltoninacio.com.br/download/curso-gds/img/m5.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=5')
(6, 'Cristina', 'https://ayltoninacio.com.br/download/curso-gds/img/m6.jpg', 'https://ayltoninacio.com.br/download/curso-gds/motorista.php?id=6')

In [60]:
# Conferindo as colunas da tabela Motoristas
columns = tuple([i[0] for i in cursor.description])
print(columns)

('id', 'nome', 'foto', 'ficha')

In [61]:
# encerrando a conexão
connection.close()